<html>
        <head>
            <title>Django Girls blog</title>
        </head>
        <body>

            <div>
              <h1><a href="/">Django Girls Blog</a></h1>
            </div>

              {% for conv in convocatorias %}
            <div>
            <p>Numero Convocatoria: {{ conv.NroConv }}</p>
            <p>Fecha de Publicación: {{ conv.FecPubli }}</p>
            <h1><a href="{% url 'conv_detail' pk=conv.pk %}">{{ conv.CodObjC }}</a></h1>
            <!--<h1><a href="">{{ conv.CodObjC }}</a></h1>-->
            <p>{{ conv.DescObjeto|linebreaksbr }}</p>
            </div>
              {% endfor %}

            <!--{{ convocatorias }}
            {% for conv in convocatorias %}
                {{ conv }}
            {% endfor %}-->

        </body>
</html>
